name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]
  # Allows you to run this manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Replace 'sodewala45' if your HF username is different
          # This command pushes your GitHub code directly to the Hugging Face Space
          git push -f https://sodewala45:$HF_TOKEN@huggingface.co/spaces/sodewala45/Job_Search_Poster_Agent main
